html ,body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4D4D4D;
	width: 100%;
	height: 100%;
	font-size: 1em;
}

.main {
	width: 100%;

	.middle {
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
	}

	header {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;

		.middle {
			text-align: left;

			a {
				color: #ffffff;
				font-size: 1.8em;
				line-height: 2.2em;
			}
		}
	}

	section {
		width: 100%;
		height: 100%;

		.page_container {
			position: relative;
			width: 100%;
			height: 100%;

			h1, h3 {
				-webkit-text-shadow: 1px 1px 2px #5E5E5E;
				-moz-text-shadow: 1px 1px 2px #5E5E5E;
				-o-text-shadow: 1px 1px 2px #5E5E5E;
				text-shadow: 1px 1px 2px #5E5E5E;
			}

			.left {
				float: left;
			}

			.right {
				float: right;
			}
		}

		.error {
			color: #D80000;
		}

		.btn {
			display: inline-block;
			width: 140px;
			height: 50px;
			line-height: 50px;
			@include radius(50px);
			border: 2px solid #F06354;
			color: #ffffff;
			font-size: 1.4em;
			background-color: #F06354;

			&:hover {
				background-color: #ffffff;
				color: #F06354;
			}
		}
	}
}

section {
	z-index: 1;

	&.page1 {
		background: url(../images/page_1.jpg) top left no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.page_container {
			text-align: center;
			top: 40%;

			h1 {
				color: #F06354;
				margin: 0;
			}

			h3 {
				color: #ffffff;
			}

			.btn {
				margin-top: 50px;	
			}
		}
	}

	&.page2 {
		background: url(../images/page_2.jpg) top left no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.page_container {

			h3 {
				position: absolute;
				top: 55%;
				right: 12%;
				color: #F06354;
			}
		}
	}

	&.page3 {
		background: url(../images/page_3.jpg) top left no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.page_container {

			h1 {
				font-size: 6em;
				color: #F06354;
				position: absolute;
				right: 5%;
				top: 5%;
			}

			.spec {
				position: absolute;
				left: 5%;
				bottom: 5%;
				padding: 10px 25px;
				background-color: rgba(48, 25, 5, 0.4);

				h3 {
					color: #ffffff;
				}

				ul {
					color: #efefef;
					padding: 0;

					li {
						line-height: 1.4em;
					}
				}
			}
		}
	}

	&.page4 {
		.page_container {
			background-color: #FAC700;

			.mobile {
				width: 257px;
				height: 517px;
				background: url(../images/phone.png) no-repeat 0 0;
				margin-right: 50px;
				position: relative;
				left: 10%;
				top: 20%;

				.imgWrap {
					width: 221px;
					height: 395px;
					position: absolute;
					top: 50px;
					left: 18px;
					background: #ccc;
					overflow: hidden;
				}
			}

			.description {
				width: 600px;
				position: relative;
				right: 10%;
				top: 20%;

				li {
					margin: 50px 0;
				}
			}
		}
	}

	&.page5 {
		background: url(../images/page_5.jpg) top left no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.page_container {

			h1 {
				width: 100%;
				text-align: center;
				color: #ffffff;
				position: absolute;
				top: 35%;
			}
		}
	}

	&.page6 {
		background: url(../images/page_6.jpg) top left no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.page_container {

			.feature {
				position: absolute;
				right: 5%;
				top: 10%;
				width: 40%;

				h1 {
					margin: 10px 0 0;
				}

				p {
					font-size: 1.2em;
				}
			}
		}
	}

	&.page7 {
		background: url(../images/page_7.jpg) top left no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.page_container {

			.title, .example {
				position: relative;
				left: 10%;
			}

			.title {
				top: 10%;

				h1 {
					margin: 0;
					color: #ffffff;
				}

				.subTitle {
					font-size: 1.0em;
					margin: 0.4em 0;
				}
			}

			.example {
				padding-left: 0;
				top: 15%;
				width: 500px;

				.applications {
					margin-bottom: 30px;

					h4 {
						margin: 0.5em 0;
						font-size: 1.5em;
					}

					p {
						margin: 0;
						line-height: 1.4em;
						color: #747474;
					}
				}
			}
		}
	}

	&.page8 {
		background: url(../images/page_8.jpg) top left no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.page_container {
			display: inline-table;

			.mailWrap {
				display: table-cell;
				vertical-align: middle;

				h1 {
					text-align: center;
					color: #F06354;
				}

				#contactForm {
					width: 950px;
					margin: 50px auto;

					.form-group {
						width: 100%;
						margin-bottom: 20px;

						.form-control {
							width: 920px;
							padding: 15px;
							font-size: 1.4em;
							border: none;
							@include radius(8px);
						}
					}

					.btnWrap {
						text-align: center;
						margin-top: 40px;

						.btn {
							line-height: 42px;

							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		}
	}
}



@media screen and (min-width: 1201px) {
}

@media screen and (min-width: 960px) and (max-width: 1200px) {	
}

@media screen and (min-width: 768px) and (max-width: 959px) { 
}

@media screen and (min-width: 481px) and (max-width: 767px) {    
}

@media screen and (max-width: 481px) {
}